.topbar {
  padding: 2rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.material-icons {
  color: #fff;
  font-size: 36px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}
